<div class="add-cat-nav">
 <%= link_to  groups_path, class: "link-add-cat ps-2" do %>
    <i class="fa-sharp fa-solid fa-arrow-left top-link"></i>
  <% end %>
  <h3 class="nav-add-cat">DETAILS</h3>
</div>

<div class="container-fluid">
  <%= render "group", group: @group%>

  <div class="container-fluid">
  <ul style="list-item-style:none; margin-left:0px;padding-left:0px;">
    <%@purchases.each do |purchases|%>
    <li class= "category-item d-flex flex-row justify-content-between align-items-center p-2 mt-3 card-">
      <p class="ps-2"><%= purchases.name %></p>
      <p class="pe-2">$<%= purchases.amount %></p>
    </li>
    <%end%>
  </ul>
  <div class="d-flex justify-content-center btn-p">
    <%= link_to "New Purchase", new_group_purchase_path(@group), class: "btn-prima" %>
  </div>
  </div>
</div>